<!-- @format -->

<nav class="main-nav d-flex flex-column">
	<div class="nav-content">
		<div class="nav-links d-flex flex-column">
			<h3>Earn</h3>
			<a href="/earn/surveys"> Surveys </a>
			<a href="/earn/watch"> Watch & Earn </a>
			<a href="/earn/offers"> Offers </a>
		</div>
		<div class="nav-links d-flex flex-column">
			<h3>Help</h3>
			<a href="/customer-support"> Customer Support </a>
			<a href="/your-privacy"> Privacy Policy </a>
			<a href="/terms-of-service"> Terms Of Service </a>
		</div>
		<div class="nav-links d-flex flex-column">
			<h3>Account</h3>
			{{ if .User }}
			<a href="/users/profile"> My Profile </a>
			<a href="/users/my-earnings">My Earnings</a>
			<a href="/users/withdrawal">Withdrawal</a>
			<a href="/users/sign-out"> Sign Out </a>
			{{ else }}
			<a href="/auth/sign-in"> Sign In </a>
			<a href="/auth/sign-up"> Sign Up </a>
			{{ end }}
		</div>

		{{ if .User }} {{ if .User.Admin }}
		<div class="nav-links d-flex flex-column">
			<h3>Admin</h3>
			<a href="/admin/images">Images</a>
			<a href="/admin/offers">Offers</a>
		</div>
		{{ end }} {{ end }}
	</div>
</nav>
