/** @format */

$dark_dark: #222222;
$dark_primary: #333333;
$dark_light: #494949;

$light_dark: #e2e2e2;
$light_primary: #f3f3f4;
$light_light: #ffffff;

$green_dark: #6b7c5e;
$green_primary: #7f9172;
$green_light: #8fa181;

$purple_dark: #6425ac;
$purple_primary: #6f2dbd;
$purple_light: #7d3ac9;

$orange_dark: #b94d29;
$orange_primary: #cf5c36;
$orange_light: #e26c45;
