/** @format */

@import './vars';

.main {
	display: flex;
	justify-content: center;
	padding: 8rem 6.25rem;
}

.content {
	width: 40%;
	display: flex;
	flex-direction: column;
}

.svg {
	margin-top: 9.375rem;
	margin-left: -6.25rem;
}

.h1 {
	font-size: 5.125rem;
	color: $light_primary;

	span {
		color: $orange_primary;
	}
}

.bankNote {
	animation-name: fallDown;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 3s;
}

.cta {
	background-color: $purple_primary;
	width: 22rem;
	height: 5.4rem;
	font-size: 1.5rem;
	border: none;
	color: $light_primary;
	font-family: 'Paytone One', sans-serif;
	border-radius: 0.25rem;

	&:hover {
		background-color: $purple_dark;
	}
}

@keyframes fallDown {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(100%);
		opacity: 0;
	}
}
