/** @format */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Paytone+One&family=Roboto:wght@400;500&display=swap');
@import './vars';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	min-width: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	background-color: $dark_primary;
	font-family: 'Roboto', sans-serif;
	transition: margin-left 300ms ease;
	position: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Paytone One', sans-serif;
}

button,
a {
	cursor: pointer;
}

button {
	transition: all 300ms ease;
}

@media (min-width: 700px) {
	body {
		position: relative;
		margin-left: 0 !important;
	}
}
