/** @format */

@import './components/nav';
@import './components/alerts';
@import './components/toolbar';

/*
	font-family: 'Open Sans', sans-serif;
	font-family: 'Oswald', sans-serif;
	font-family: 'Ubuntu', sans-serif;
*/

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	min-width: 100%;
	min-height: 100%;
	background-color: rgb(255, 255, 255);
}

body {
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', sans-serif;
}

button {
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	color: rgb(68, 68, 68);
}

main {
	.layout {
		display: flex;
		height: 100vh;
		width: 100%;

		.page {
			flex-grow: 1;
			overflow: auto;
			position: relative;
		}
	}
}

p {
	line-height: 2;
}
