<!-- @format -->

<div class="uk-container uk-margin-large-top">
	<header>
		<h1>Make Your Voice Heard <br />While Earning Cash</h1>
	</header>
	<div uk-grid>
		<form method="POST" action="/auth/sign-in" class="uk-width-expand@m">
			<div class="uk-margin-top">
				<a
					href="/auth/sign-in/auth0"
					title="Sign in with facebook"
					class="uk-button uk-button-default"
				>
					Sign in with
					<img
						src="/public/svg/facebook.svg"
						alt="Facebook logo"
						width="16"
						height="16"
					/>
				</a>
				<a
					href="/auth/sign-in/auth0"
					title="Sign in with google"
					class="uk-button uk-button-default"
				>
					Sign in with
					<img
						src="/public/svg/google.svg"
						alt="Google logo"
						width="16"
						height="16"
					/>
				</a>
			</div>
			<h3>Sign In</h3>
			<section class="uk-margin-bottom">
				<label for="email" class="uk-form-label">Email</label>
				<input id="email" type="text" name="email" class="uk-input" />
			</section>
			<section class="uk-margin-bottom">
				<label for="password">Password</label>
				<input
					id="password"
					type="password"
					name="password"
					class="uk-input"
				/>
			</section>

			<p>Don't have an account? <a href="/auth/sign-up">Sign Up</a></p>

			<button class="uk-button uk-button-primary" type="submit">
				Sign In
			</button>
		</form>
		<img
			class="uk-width-expand@m"
			src="/public/svg/piggy_bank.svg"
			alt="Piggy Bank"
		/>
	</div>
</div>
