<!-- @format -->

<div class="uk-container uk-margin-xlarge-top">
	<div class="uk-grid-large" uk-grid>
		<form
			method="POST"
			action="/auth/sign-in"
			class="uk-width-expand@m uk-flex uk-flex-column uk-flex-center"
		>
			<h1 class="uk-text-normal">
				Make Your Voice Heard <br />While Earning Cash
			</h1>
			<div class="uk-margin-top uk-margin-medium-bottom uk-flex">
				<a
					href="/auth/sign-in/auth0"
					title="Sign in with facebook"
					class="uk-button uk-button-default uk-flex uk-flex-middle"
					style="color: #4267b2"
				>
					Sign in with
					<span
						uk-icon="icon: facebook"
						class="uk-margin-left"
					></span>
				</a>
				<a
					href="/auth/sign-in/auth0"
					title="Sign in with google"
					style="color: #db4437"
					class="
						uk-button
						uk-button-default
						uk-flex
						uk-flex-middle
						uk-margin-left
					"
				>
					Sign in with
					<span uk-icon="icon: google" class="uk-margin-left"></span>
				</a>
			</div>
			<section class="uk-margin-bottom">
				<label
					for="email"
					class="uk-display-block uk-margin-small-bottom"
					>Email</label
				>
				<input id="email" type="text" name="email" class="uk-input" />
			</section>
			<section class="uk-margin-bottom">
				<label
					for="password"
					class="uk-display-block uk-margin-small-bottom"
					>Password</label
				>
				<input
					id="password"
					type="password"
					name="password"
					class="uk-input"
				/>
			</section>

			<div class="uk-flex">
				<p>
					Don't have an account? <a href="/auth/sign-up">Sign Up</a>
				</p>

				<button
					class="
						uk-button
						uk-button-primary
						uk-display-block
						uk-margin-auto-left
					"
					type="submit"
				>
					Sign In
				</button>
			</div>
		</form>
		<img
			class="uk-width-expand@m"
			src="/public/svg/piggy_bank.svg"
			alt="Piggy Bank"
		/>
	</div>
</div>
