/** @format */

.alert {
	padding: 1rem;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;

	&::before {
		height: 50px;
		width: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #ffffff;
		position: absolute;
		left: 50%;
		top: calc(100% - 25px);
		z-index: 3;
		transform: translateX(-50%);
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		border-radius: 50%;
		font-family: 'Material Icons Outlined';
		z-index: 3;
	}

	&.alert-error {
		background-color: rgb(238, 174, 174);
		color: rgb(192, 60, 60);

		&::before {
			content: '\e5cd';
		}
	}

	&.alert-success {
		background-color: rgb(160, 235, 160);
		color: rgb(16, 153, 23);

		&::before {
			content: '\e876';
		}
	}

	span {
		cursor: pointer;
	}
}
