/** @format */

.main-nav {
	min-width: 265px;
	width: 265px;
	height: 100vh;
	background-color: rgb(255, 255, 255);
	border-right: 1px solid lightgray;
	padding: 1rem 0;

	.nav-links {
		padding: 1rem;

		h3 {
			margin-bottom: 1rem;
			margin-left: 3px;
			font-weight: 400;
			text-transform: uppercase;
			font-size: 1.2rem;
		}

		&:not(:last-of-type) {
			border-bottom: 1px solid lightgray;
		}

		a {
			color: #535353;
			text-decoration: none;
			font-weight: 500;
			border-radius: 0.5rem;
			display: flex;
			align-items: center;
			font-size: 0.78rem;
			position: relative;

			&::after {
				font-family: 'Material Icons Outlined';
				position: absolute;
				content: '\e5cc';
				right: 0;
			}

			span {
				margin-right: 16px;
			}

			&:hover {
				color: #888888;
			}
		}
	}
}
