/** @format */
@import '../utils/vars';

.main-nav {
	min-width: 265px;
	width: 265px;
	height: 100vh;
	background-color: rgb(255, 255, 255);
	border-right: $border;
	background-color: #444;

	.nav-links {
		padding: 1rem;

		h3 {
			font-weight: 400;
			text-transform: uppercase;
			font-size: 1.2rem;
			margin-bottom: 0.66rem;
			color: #fff;
		}

		&:not(:last-of-type) {
			border-bottom: $border;
		}

		a {
			text-decoration: none;
			font-weight: 400;
			display: flex;
			align-items: center;
			font-size: 0.8rem;
			position: relative;
			background-color: rgb(83, 83, 83);
			color: rgb(255, 255, 255);
			padding: 0.75rem 1rem;
			letter-spacing: 1.4px;

			&:not(:last-of-type) {
				margin-bottom: 1rem;
			}

			&::after {
				font-family: 'Material Icons Outlined';
				position: absolute;
				content: '\e5cc';
				right: 1rem;
				transition: all 300ms ease;
			}

			span {
				margin-right: 16px;
			}

			&:hover {
				&::after {
					transform: scale(2);
				}
			}
		}
	}
}
