/** @format */

$form-gap: 1.75rem;
$contentWidth: 60%;

.login-form {
	margin-top: -60px;

	header {
		width: $contentWidth;
		padding: 1rem;
		h1 {
			font-size: 2rem;
			margin: 0;
			color: rgb(77, 77, 77);
		}
	}

	.form-container {
		width: $contentWidth;

		.piggybank {
			max-width: 400px;
			margin-left: 3rem;
		}

		form {
			background-color: #ffffff;
			width: 500px;
			position: relative;
			.social-auth {
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
				margin-top: 2rem;

				a {
					cursor: pointer;
					width: 50px;
					height: 50px;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 0 0.5rem;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}

			.form-title {
				margin-bottom: $form-gap;
				max-width: 50ch;
				font-size: 3rem;
				font-weight: normal;
				color: rgb(70, 70, 70);
			}

			.form-group {
				display: flex;
				flex-direction: column;
				margin-bottom: $form-gap;

				.form-label {
					margin-bottom: 0.5rem;
				}

				.form-control {
					padding: 0.33em;
					font-size: 17px;
					border: 1px solid rgb(221, 221, 221);
					outline: 0;
					border-radius: 0.2rem;
				}
			}

			p {
				max-width: 50ch;
				letter-spacing: 1.2px;
			}

			button {
				margin-top: 1rem;
				padding: 0.67rem 1rem;
				background-color: rgb(19, 155, 48);
				color: #ffffff;
				border: none;
				border-radius: 0.2rem;
				cursor: pointer;
				text-transform: uppercase;
				&:hover {
					background-color: rgb(25, 168, 56);
				}
			}
		}
	}
}
