<!-- @format -->

<div class="p-5">
	<h1>Images</h1>
	<form
		id="upload-img"
		enctype="multipart/form-data"
		method="POST"
		action="/admin/images"
	>
		<section class="form-group me-3">
			<label for="alt" class="form-label">Alt Text</label>
			<input type="text" name="alt" id="alt" />
		</section>
		<section class="form-group">
			<input
				onchange="document.querySelector('#upload-img').submit()"
				type="file"
				name="image"
				id="image"
				accept="image/png,image/jpeg"
			/>
		</section>
	</form>

	<div class="py-5">
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Filename</th>
					<th>Original Filename</th>
					<th>Type</th>
					<th>Alt</th>
					<th>Created At</th>
					<th>Updated At</th>
					<th>Size</th>
				</tr>
			</thead>
			<tbody>
				{{ range .Data.Images }}
				<tr>
					<td>{{ .ID }}</td>
					<td>{{ .Filename }}</td>
					<td>{{ .OriginalFilename }}</td>
					<td>{{ .Type }}</td>
					<td>{{ .Alt }}</td>
					<td>{{ .CreatedAt }}</td>
					<td>{{ .UpdatedAt }}</td>
					<td>{{ .Size }}</td>
				</tr>
				{{ end }}
			</tbody>
		</table>
	</div>
</div>
