<!-- @format -->

<div class="p-5">
	<h1>Create Offer</h1>
	<form method="POST" action="/admin/offers">
		<section class="form-group">
			<label for="OfferID" class="form-label">Offer ID</label>
			<input
				type="text"
				class="form-control"
				name="OfferID"
				id="OfferID"
			/>
		</section>
		<section class="form-group">
			<label for="PublisherID" class="form-label">Publisher ID</label>
			<input
				type="text"
				class="form-control"
				name="PublisherID"
				id="PublisherID"
			/>
		</section>
		<section class="form-group">
			<label for="AppID" class="form-label">App ID</label>
			<input type="text" class="form-control" name="AppID" id="AppID" />
		</section>
		<section class="form-group">
			<label for="Description" class="form-label">Description</label>
			<input
				type="text"
				class="form-control"
				name="Description"
				id="Description"
			/>
		</section>
		<section class="form-group">
			<label for="Href" class="form-label">Href</label>
			<input type="text" class="form-control" name="Href" id="Href" />
		</section>
		<section class="form-group">
			<label for="ImageID" class="form-label">Image ID</label>
			<input
				type="text"
				class="form-control"
				name="ImageID"
				id="ImageID"
			/>
		</section>
		<section class="form-group">
			<label for="Provider" class="form-label">Provider</label>
			<input
				type="text"
				class="form-control"
				name="Provider"
				id="Provider"
			/>
		</section>
		<button>Submit</button>
	</form>
</div>
