<!-- @format -->

<div class="uk-margin-top">
	<h1>Create Offer</h1>
	<form method="POST" action="/admin/offers">
		<section class="uk-margin-bottom">
			<label for="OfferID" class="uk-display-block uk-margin-small-bottom"
				>Offer ID</label
			>
			<input type="text" name="OfferID" id="OfferID" class="uk-input" />
		</section>
		<section class="uk-margin-bottom">
			<label
				for="PublisherID"
				class="uk-display-block uk-margin-small-bottom"
				>Publisher ID</label
			>
			<input
				type="text"
				name="PublisherID"
				id="PublisherID"
				class="uk-input"
			/>
		</section>
		<section class="uk-margin-bottom">
			<label for="AppID" class="uk-display-block uk-margin-small-bottom"
				>App ID</label
			>
			<input type="text" name="AppID" id="AppID" class="uk-input" />
		</section>
		<section class="uk-margin-bottom">
			<label for="Href" class="uk-display-block uk-margin-small-bottom"
				>Href</label
			>
			<input type="text" name="Href" id="Href" class="uk-input" />
		</section>
		<section class="uk-margin-bottom">
			<label for="ImageID" class="uk-display-block uk-margin-small-bottom"
				>Image ID</label
			>
			<input type="text" name="ImageID" id="ImageID" class="uk-input" />
		</section>
		<section class="uk-margin-bottom">
			<label
				for="Provider"
				class="uk-display-block uk-margin-small-bottom"
				>Provider</label
			>
			<input type="text" name="Provider" id="Provider" class="uk-input" />
		</section>
		<section class="uk-margin-bottom">
			<label
				for="Description"
				class="uk-display-block uk-margin-small-bottom"
				>Description</label
			>
			<textarea
				type="text"
				name="Description"
				id="Description"
				class="uk-textarea"
			></textarea>
		</section>
		<button
			class="
				uk-display-block uk-margin-auto-left uk-button uk-button-primary
			"
		>
			Submit
		</button>
	</form>
</div>
